@charset "utf-8";
html {
    background: transparent;
}
body{
    height: 100%;
    top: 0px;
}
div {
    position: relative;
    top: 0px; 
}

/* nav */
#nav {
    height: 80px;
    background: transparent;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 99999;
    transition: all ease .5s;
  }
  
  #logo {
    color: #fff;
    padding: 20px;
    font-size: 18px;
    transition: all ease .5s;
  }
  header {
    height:100vh;
    height: 500px;
    background-size:cover;
    background-image:url('header.jpg');
  }
  
  #nav.shrink {
    height: 40px;
    transition: all ease .5s;
    background: rgb(51, 51, 51);
  }